body {
    background-color: white;
    color: black;
    margin: 0;
    font-family:serif;
    font-size: 1.25rem;
}
.navBar {
    background-color: #003b5c;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    height: 5.5rem;
}
.navButton {
    text-decoration: none;
    padding: 0.25rem;
    color: white;
}
.navButton:hover {
    background-color: #00283f;
}
.formDiv {
    padding: 1rem;
    margin-right: 5rem;
    margin-left: 5rem;
    height: 10rem;
}
.missingStudent {
    width: 31%;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom-style: dashed;
    border-color: rgb(210, 210, 210);
    border-width: 1px;
}
.missingStudentHome {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-style: dashed;
    border-color: rgb(210, 210, 210);
    border-width: 1px;
}
td {
    border-bottom-style: dashed;
    border-color: rgb(210, 210, 210);
    border-width: 1px;
    padding-right: 20px;
}
.navBarData {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%; 
    height: 100%; 
    float: right; 
    font-size: 1.5rem; 
    text-align: center;
}
.loginDiv {
  text-align: center;
  margin: auto;
  padding-top: 5.5rem;
}